<div local-class="root">
  <div local-class="a" {{on "click" this.aClicked}}>
    <div local-class="stack">
      <img src="bottles.jpg" />
    </div>
    <div local-class="stack">
      <div local-class="tile-title">
        ALTERSARMUT
      </div>
    </div>
  </div>
  <div local-class="b" {{on "click" this.bClicked}}>
    <div local-class="stack">
      <div local-class="tile-title">
        THEMA 2
      </div>
    </div>
  </div>

  <div local-class="c" {{on "click" this.cClicked}}>
    <div local-class="stack">
      <div local-class="tile-title">
        THEMA 3
      </div>
    </div>
  </div>
  <div local-class="d" {{on "click" this.dClicked}}>
    <div local-class="stack">
      <div local-class="tile-title">
        THEMA 4
      </div>
    </div>
  </div>

  <div local-class="center">
    <div local-class="bigger">
      <img src="center.png" />
    </div>
  </div>

  <div local-class="icons">
    <JubileeList @orientation="column" as |list|>
      <list.item
        @isSelected={{this.isSettingsOpen}}
        @isSelectedChanged={{fn (mut this.isSettingsOpen)}} as |isSelected|
      >
        <div local-class="icon">
          <FaIcon @icon="ellipsis-v" @size="2x" />
        </div>
      </list.item>
    </JubileeList>
  </div>

  <div local-class="settings">
    {{#if this.isSettingsOpen}}
      <div local-class="content">
        SETTINGS
      </div>
      <div
        local-class="overlay"
        {{on "click" (fn (mut this.isSettingsOpen) false)}}
      />
      
    {{/if}}
  </div>

  <div local-class="debug">
    <div>
      {{app-version versionOnly=true}}
    </div>
  </div>
</div>